<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleAdjustmentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <strong><%= link_to current_user.username, static_pages_show_path %></strong>
          <%= link_to 'プロフィールの変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_usre_session_path, method: :delete %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <!-- flash -->
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
